<h1><%= gettext "Password reset" %></h1>
<p><%= gettext "You requested a new password for your account on %{host}.", host: @instance  %></p>
<p><%= gettext "If you didn't request this, please ignore this email. Your password won't change until you access the link below and create a new one." %></p>

<p><%= link "Change password", to: MobilizonWeb.Endpoint.url() <> "/password-reset/#{@token}", target: "_blank" %></p>
